header{
    margin: 0 auto;
    padding-top: 22px;
    max-width: 1180px;
    width: 100%;
    height: 108px;
    position: relative;
}

header .gnb_wrap{
    height: 47px;
}

header .global_menu{ /* 브랜드 사이트 */
    max-width: 375px;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

header .global_menu li {
    text-align: center;
    float: left;
}

header .global_menu li a{
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
}

header .top_util{ /* 로그인 */
    max-width: 665px;
    float: right;
    display: flex;
    justify-content: space-between;
}

header .top_util li{
    float: left;
}

header .top_members{
    display: flex;
}

header .top_nav2{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

header .top_nav2 a{
    font-size: 16px;
}